{% set currentdate = "xx" %}
{% for entry in entries %}
    <div class="entry">
        {% if currentdate != entry.date %}
            <hr>
            <h4 class="text-right"><i class="icon-calendar"></i> {{ entry.date }}</h4>
            {% set currentdate = entry.date %}
        {% endif %}
        <strong><i class="icon-time"></i> {{ entry.time }}</strong>
        <p class="diaborgcontrols">
            <a href="/index.php/delete?id={{ entry.key }}"<i class="icon-remove-sign"></i></a>
        </p>
        <dl class="dl-horizontal">
            <dt style="padding-top: 20px"><i class="icon-heart"></i></dt>
            <dd><h3>
                    {% if entry.values.value == '' %}
                        &nbsp;
                    {% else %}
                        {{ entry.values.value }}
                    {% endif %}
                </h3>
            </dd>
            <dd></dd>
            <dt><i class="icon-pencil"></i></dt>
            <dd>
                {% if entry.values.insulin == '' %}
                    &nbsp;
                {% else %}
                    {{ entry.values.insulin }}
                {% endif %}
            </dd>
            <dt><i class="icon-glass"></i></dt>
            <dd>
                {% if entry.values.BE == '' %}
                    &nbsp;
                {% else %}
                    {{ entry.values.BE }}
                {% endif %}
            </dd>
        </dl>
    </div>
{% endfor %}